{% extends 'base.twig' %}

{% block documentTitle "Home" %}

{% block style %}
    main {
        display: grid;
        place-items: center;
    }
{% endblock %}

{% block main %}
<main>
    <p>Hello World !</p>
</main>
{% endblock %}