/assets/templates/
/assets/views/old/
/memory/cache/proxies/
/memory/seeders/
/memory/database.sqlite
/public/css/
/public/img/
/public/js/
/src/Controller/BootstrapController.php
/src/Controller/PicoController.php
/vendor/
.gitignore
todo.md
