/assets/templates/
/assets/views/bootstrap/
/assets/views/pico/
/assets/views/svg/
/memory/cache/proxies/
/memory/database.sqlite
/public/bootstrap-5.3.3-dist/
/public/css/
/public/img/
/public/js/
/src/Controller/BootstrapController.php
/src/Controller/PicoController.php
/vendor/
.gitignore
todo.md
