

/* GLOBAL */

:root {
    --background: #f8f9fa;
    --color: #333;
    --accent-color: rgb(43, 187, 173);
    --primary-color: rgb(66, 133, 244);
    --secondary-color: rgb(170, 102, 204);
    --danger-color: rgb(255, 53, 71);
    --warning-color: rgb(255, 136, 0);
    --success-color: rgb(0, 200, 81);
    --info-color: rgb(51, 181, 229);
    --darkmode-background: #424242;
    --darkmode-color: #eceff1;
    --shadow-color: rgba(0, 0, 0, 0.3);
    --shadow-main: 0.1em 0.1em 0.8em var(--shadow-color);
    --shadow-inset: inset 0 0 0.5em 0.1em var(--shadow-color);
    --card-dark-background: #212121;
    --sidebar-width: 14em;
    --border-radius: 7px;
}

html {
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}

body {
    min-height: calc(100vh - 4.5em);
    background: var(--background);
    padding: 0 0 0 var(--sidebar-width);

    line-height: 1.5em;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color);
}

.darkMode {
    background: var(--darkmode-background);
    color: var(--darkmode-color);
}


/* CONTAINER */

.container {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1400px;
    width: 100%;
    padding: .8em 1.6em;
}

@media screen and (min-width: 2000px) {
    .container {
        max-width: 70%;
    }
}


/* HEADER */

.logo {
    margin-bottom: 1.6em;
}


/* SIDEBAR */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidebar-width);
    height: 100%;
    box-shadow: var(--shadow-main);
    padding: 1em;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    display: block;
    margin: 1em 0;
}


/* TITLES */

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}


/* LINKS */

a {
    color: var(--accent-color);
}


/* BADGES */

.badge {
    display: inline-block;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: 0 .2em .1em;
    font-weight: bold;
    color: var(--color);
    text-decoration: none;
}

.darkMode .badge {
    color: var(--darkmode-color)
}


/* LISTS */

ul {
    list-style: none
}


/* TABLES */

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}


/* MEDIAS */

img, video {
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

iframe {
    border: 0
}

.code {
    display: block;
    width: 100%;
    height: auto;
    padding: 1em;
}


/* FOOTER */

.footer-columns {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
}

.footer-columns div {
    display: flex;
    flex-direction: column;
}

.footer-columns h3 {
    margin-bottom: 1em;
}

.footer-columns ul {
    list-style: none;
    padding: 0;
}

.footer-columns a {
    text-decoration: none;
    display: block;
    margin: 0.5em 0;
}